*.ipynb_checkpoints
.DS_Store
sources/web/datalab/package-lock.json
build
staging
*.gradle
*.pyc
*.idea
*.iml
*.map
*.egg-info
*.swp
*.swo
*.ipynb.yaml
*.log
tools/node/
containers/datalab/Dockerfile
containers/datalab/content/license.txt
containers/gateway/Dockerfile
containers/gateway/content/license.txt
containers/base/pydatalab
node_modules/
bower_components/
test/ui/broken
experimental
polymer_bundled
polymer_unbundled
sources/web/datalab/polymer/**/*.js
