*.ipynb_checkpoints
build
staging
*.gradle
*.pyc
*.idea
*.iml
*.map
*.egg-info
*.swp
*.swo
*.ipynb.yaml
*.log
containers/datalab/Dockerfile
containers/datalab/content/license.txt
containers/gateway/Dockerfile
containers/gateway/content/license.txt
containers/base/pydatalab
test/node_modules
test/ui/broken
node_modules/
bower_components/