body {
  margin: 0px;
  padding: 0px;
}
.datalab-toolbar {
}
.datalab-sidebar {
  position: relative;
  width: 100%;
  /* because paper-drawer-panel is an absolute position element */
  height: calc(100vh - 50px);
}
