[project]
	description = Interactive tools and developer experiences for Big Data on Google Cloud Platform.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gramster
[access "refs/for/refs/*"]
	read = group user/gramster
	push = group user/gramster
	label-Code-Review = -2..+2 group user/gramster
	label-Verified = -1..+1 group user/gramster
	rebase = group user/gramster
	removeReviewer = group user/gramster
	submit = group user/gramster
[access "refs/heads/*"]
	read = group user/gramster
	create = group user/gramster
	push = +force group user/gramster
	pushMerge = group user/gramster
[access "refs/tags/*"]
	push = +force group user/gramster
	pushTag = group user/gramster
	pushSignedTag = group user/gramster
