<div class="datalab-modal container-fluid" id="{{mid}}">
  <div class="modal-background"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.dismiss()">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body" ng-transclude>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="action(args);ctrl.dismiss()">
          {{okText}}
        </button>
        <button type="button" class="btn btn-default" ng-click="ctrl.dismiss()">
          {{cancelText}}
        </button>
      </div>
    </div>
  </div>
</div>