<div class="datalab-file-navigator">

  <!-- Action bar on the very top of the main file table region. -->
  <div class="datalab-top-actionsbar">
    <div class="datalab-headertext">Notebooks</div>
    <!-- Create a notebook action. -->
    <div class="datalab-top-actionsbar-actions">
      <button class="datalab-flat-button"
              ng-click="ctrl.showModal($event, 'datalab-new-notebook-dialog')">
        <img src="assets/iconAdd.svg" alt="Create a notebook" width="16px" height="16px"/>
        <div class="datalab-flat-button-text">Create a notebook</div>
      </button>

      <button class="datalab-flat-button"
              ng-click="ng-click="ctrl.showModal($event, 'datalab-new-folder-dialog')">
      <img src="assets/iconAdd.svg" alt="Create a notebook" width="16px" height="16px"/>
      <div class="datalab-flat-button-text">Create a folder</div>
      </button>
    </div>
  </div>

  <!-- Breadcrumb region -->
  <div class="datalab-file-navigator-header">
    <!-- The breadcrumb navigation elements -->
    <div class="datalab-filenav-breadcrumbs">
      <!-- The clickable root '/' -->
      <a class="datalab-breadcrumb-link" ng-click="ctrl.updatePath(0)"> Root / </a>
      <div ng-repeat="component in breadcrumbs track by $index">
        <!-- Use ' / ' in between each segment of the path after the root -->
        <div class="datalab-breadcrumb-separator" ng-if="$index > 1"> / </div>
        <!--  Use <a> elements for the leading segments of path to show they are click-able -->
        <a class="datalab-breadcrumb-link"
           ng-if="$index > 0 && $index < breadcrumbs.length - 1"
           ng-click="ctrl.updatePath($index)">
          {{component}}
        </a>
        <!-- Use a plain <div> for the last segment of the path -->
        <div class="datalab-breadcrumb-link"
             ng-if="$index > 0 && $index == breadcrumbs.length - 1">
          {{component}}
        </div>
      </div>
    </div>

    <!-- Table region-->
    <div class="datalab-table-scroller" >
      <table class='datalab-navigator-table table table-striped table-hover'>
        <thead class="datalab-table-thead">
        <tr>
          <!-- Cell headers. These can be clicked to sort the table. -->
          <th ng-click="ctrl.reSort('relativePath')">
            <div class="datalab-navigator-header">
              <span ng-class="ctrl.sortIconClass('relativePath')">
                Path
              </span>
            </div>
          </th>
          <th ng-click="ctrl.reSort('description')">
            <div class="datalab-navigator-header">
              <span ng-class="ctrl.sortIconClass('description')" >
                Type
              </span>
            </div>
          </th>
          <th ng-click="ctrl.reSort('lastModified')">
            <div class="datalab-navigator-header">
              <span ng-class="ctrl.sortIconClass('lastModified')" >
                Accessed
              </span>
            </div>
          </th>
          <th>
            <i class="datalab-navigator-trash fa fa-trash">
            </i>
          </th>
        </tr>
        </thead>

        <!--  Cell rows, in the currently selected sort order -->
        <tbody class="datalab-table-tbody">
        <tr ng-repeat="resource in resources | orderBy: sortOrder + sortColumn"
            ng-dblclick="ctrl.handleClick(null, resource)">

          <td>
            <!--  This doesn't work for directories as the router doesn't currently handle nested
              paths, but if that changes we can use <a> elements for them too  -->
            <a class="datalab-path-link" ng-if="!resource.isDirectory"
               ng-href="'/#/notebooks' + resource.path"
               ng-click="ctrl.handleClick($event, resource)">
              <i class="fa fa-file-text"></i>
              {{resource.relativePath}}
            </a>
            <div class="datalab-path-link" ng-if="resource.isDirectory"
                 ng-click="ctrl.handleClick($event, resource)">
              <i class="fa fa-folder"></i>
              {{resource.relativePath}}
            </div>
          </td>

          <td>
            {{resource.description}}
          </td>

          <td>
            {{ctrl.ageMessage(resource.lastModified)}}
          </td>
          <td>
            <i class="datalab-navigator-trash fa fa-trash"
               ng-click="ctrl.deleteResource(resource)">
            </i>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Dialogs (hidden initially) -->
  <modal-layout mid="datalab-new-folder-dialog" title="Create a folder"
                ok-text="Create" cancel-text="Cancel" action="ctrl.createFolder()">
    <p>Folder name</p>
    <input type="text" ng-model="properties.newFolderName"></input>
  </modal-layout>

  <modal-layout mid="datalab-new-notebook-dialog" title="Create a notebook" ok-text="Create"
                cancel-text="Cancel" action="ctrl.createNotebook()">
    <p>Notebook name</p>
    <input type="text" ng-model="properties.newNotebookName"></input>
  </modal-layout>

</div>


