<div class="datalab-leftnav">
  <div class="datalab-layout-sidenav-sidebar">
    <div class="datalab-top-actionsbar">
      <div class="datalab-headertext">Datalab</div>
    </div>
    <a href="/#/notebooks" class="datalab-sidebar-tab"
       ng-class="{ 'active': activeTab == '/notebooks', 'inactive': activeTab != '/notebooks'}"
       ng-click="activeTab = '/notebooks'">
      <img src="assets/iconFiles.svg" alt="Notebooks"/>
      <span>Notebooks</span>
    </a>
    <a ng-href="/#/sessions" class="datalab-sidebar-tab"
       ng-class="{ 'active': activeTab == '/sessions', 'inactive': activeTab != '/sessions'}"
       ng-click="activeTab = '/sessions'">
      <img src="assets/iconSessions.svg" alt="Sessions"/>
      <span>Sessions</span>
    </a>
  </div>
</div>

<div class="datalab-layout-sidenav-main" ng-transclude>
  <!-- Main content is transcluded here -->
</div>