<div class="datalab-worksheet-editor">
  <!-- For each cell in the worksheet, create a cell-rendering directive -->
  <div ng-repeat="cell in worksheet.cells" ng-switch="cell.type">
    <!-- Create a different cell rendering directive for each flavor of supported cell -->

    <!-- Code cell -->
    <datalab-code-cell
        ng-switch-when="code"
        cell="cell"
        worksheet-id="worksheet.id"></datalab-code-cell>

    <!-- Markdown cell -->
    <datalab-markdown-cell
        ng-switch-when="markdown"
        cell="cell"
        worksheet-id="worksheet.id"></datalab-markdown-cell>

    <!-- Heading cell -->
    <datalab-heading-cell
        ng-switch-when="heading"
        cell="cell"
        worksheet-id="worksheet.id"></datalab-heading-cell>
  </div>
</div>
