<div id="cell-{{cell.id}}"
    class="datalab-editor-cell row"
    ng-class="{ 'datalab-editor-cell-active' : active }">
  <!-- NOTE: this template assumes it is contained by a bootstrap .container grid system -->

  <!-- Cell source editor region -->
  <div class="datalab-editor-cell-edit-region col-lg-12 col-md-12 col-sm-12 col-xs-12"
      ng-show="enableEditRegion" >
    <div class="datalab-editor-cell-input row">

      <!-- Code editor -->
      <div class="datalab-editor-cell-input-content col-md-12">
        <datalab-code-editor
            source="cell.source"
            active="active"
            keymap='keymap'
            actions='actions'>
        </datalab-code-editor>
      </div>

      <!-- Cell toolbar -->
      <div class="datalab-editor-cell-toolbar">
        <!-- TODO(bryantd): only show cell toolbar when cell is active  -->
        <datalab-cell-toolbar
            cell="cell"
            worksheet-id="worksheetId">
        </datalab-cell-toolbar>
      </div>
    </div>
  </div>

  <!-- Cell output region -->
  <datalab-cell-output-viewer outputs="cell.outputs"></datalab-cell-output-viewer>

  <!-- Cell preview region -->
  <div class="datalab-editor-cell-preview-region col-lg-12 col-md-12 col-sm-12 col-xs-12"
      ng-dblclick="onPreviewRegionDoubleClick()"
      ng-if="enablePreviewRegion">

    <!-- Show a markdown renderer if this is a Markdown cell -->
    <datalab-markdown-viewer
        ng-if="cell.type == 'markdown'"
        source="cell.source">
    </datalab-markdown-viewer>

    <!-- Show a heading renderer if this is a Heading cell -->
    <datalab-heading-viewer
        ng-if="cell.type == 'heading'"
        text="cell.source"
        level="cell.metadata.level">
    </datalab-heading-viewer>
  </div>

</div>
