<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Google Cloud DataLab Notebook</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/components/codemirror/lib/codemirror.css" />
  <link rel="stylesheet" href="/static/style/style.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/style/custom.css" type="text/css" />
</head>
<body class="notebook_app"
  data-project=""
  data-base-url="/"
  data-ws-url=""
  data-notebook-name="<%notebookName%>"
  data-notebook-path="<%notebookPath%>"
  data-feedback-id="<%feedbackId%>"
  data-analytics-id="<%analyticsId%>"
  data-analytics-path="<%analyticsPath%>"
  data-analytics-title="notebook"
  data-project-num="<%projectNumber%>"
  data-project-id="<%projectId%>"
  data-version-id="<%versionId%>"
  data-instance-id="<%instanceId%>"
  data-instance-name="<%instanceName%>"
  data-user-id="<%userId%>">
  <div id="app">
    <div id="appBar">
      <span id="logo" class="nav navbar-brand pull-left">
        <a href="/tree"><img src="/static/logo.png" alt="Google Cloud DataLab" /></a>
      </span>
      <span id="save_widget" class="pull-left save_widget">
        <button class="btn" title="Rename notebook"><span id="notebook_name" class="filename"></span></button>
        <span class="autosave_status"></span>
      </span>
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          <button class="btn" data-toggle="dropdown" title="Help Links">
            <span class="fa fa-question-circle"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a id="keyboardHelpLink" href="#">Keyboard Shortcuts</a></li>
            <li><a id="markdownHelpLink" href="#">Markdown Syntax</a></li>
            <li class="divider"></li>
            <li><a href="https://cloud.google.com/bigquery/what-is-bigquery" target="_blank"><i class="fa fa-external-link pull-right menu-icon"></i><span>BigQuery&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>
            <li><a href="https://cloud.google.com/storage/docs/overview" target="_blank"><i class="fa fa-external-link pull-right menu-icon"></i><span>Cloud Storage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a></li>
            <li class="divider"></li>
            <li><a href="https://developers.google.com/chart/" target="_blank"><i class="fa fa-external-link pull-right menu-icon"></i><span>Google Charts</span></a></li>
            <li><a href="http://matplotlib.org/contents.html" target="_blank"><i class="fa fa-external-link pull-right menu-icon"></i><span>Matplotlib</span></a></li>
            <li><a href="http://pandas.pydata.org/pandas-docs/stable/" target="_blank"><i class="fa fa-external-link pull-right menu-icon"></i><span>Pandas</span></a></li>
            <li><a href="http://scikit-learn.org/stable/" target="_blank"><i class="fa fa-external-link pull-right menu-icon"></i><span>SciKit-Learn</span></a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn" data-toggle="dropdown" title="User and Project Information">
            <span class="fa fa-user"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" id="userId">User ID</a></li>
            <li class="divider"></li>
            <li><a href="#" id="consoleLink" target="_blank">Developer Console</a></li>
            <li><a href="#" id="instancesLink" target="_blank">Developer Console: Cloud Datalab Instances</a></li>
            <li><a href="#" id="repoLink" target="_blank">Developer Console: Git Repository</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button id="feedbackButton" title="Provide feedback">
            <span class="fa fa-comment"></span>
          </button>
        </div>
        <div class="btn-group">
          <button id="aboutButton" title="About Google Cloud Datalab">
            <span class="fa fa-info-circle"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="appContent">
      <div id="mainArea">
        <div id="mainToolbar">
          <div class="btn-toolbar pull-left">
            <div class="btn-group">
              <button type="button" class="btn" data-toggle="dropdown" title="Notebook commands">
                <span class="fa fa-book"></span> Notebook <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li id="saveButton"><a href="#">Save</a></li>
                <li id="saveCopyButton"><a href="#">Save copy</a></li>
                <li id="renameButton"><a href="#">Rename...</a></li>
                <li class="divider"></li>
                <li id="downloadButton"><a href="#">Download</a></li>
                <li class="divider"></li>
                <li id="convertHTMLButton"><a href="#">Convert to HTML</a></li>
                <li id="convertPythonButton"><a href="#">Convert to Python</a></li>
              </ul>
            </div>
          </div>
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <button id="addCodeCellButton" type="button" class="btn" title="Append a new code cell">
                <span class="fa fa-plus-square"></span> Add Code
              </button>
              <button id="addMarkdownCellButton" type="button" class="btn" title="Append a new markdown cell">
                <span class="fa fa-plus-square"></span> Add Markdown
              </button>
              <button id="deleteCellButton" type="button" class="btn" title="Delete the selected cell">
                <span class="fa fa-minus-square"></span> Delete
              </button>
              <button id="moveCellUpButton" type="button" class="btn" title="Move the selected cell up">
                <span class="fa fa-chevron-up"></span> Move Up
              </button>
              <button id="moveCellDownButton" type="button" class="btn" title="Move the selected cell down">
                <span class="fa fa-chevron-down"></span> Move Down
              </button>
            </div>
            <div class="btn-group">
              <button id="runButton" type="button" class="btn" title="Run the selected cell">
                <span class="fa fa-play"></span> Run
              </button>
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li id="runAllButton"><a href="#">Run all Cells</a></li>
                <li id="runToButton"><a href="#">Run to this Cell</a></li>
                <li id="runFromButton"><a href="#">Run from this Cell</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button id="clearButton" type="button" class="btn" title="Clear outputs of the selected cell">
                <span class="fa fa-minus-square-o"></span> Clear
              </button>
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li id="clearAllButton"><a href="#">Clear all Cells</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button id="resetSessionButton" type="button" class="btn" title="Restart the current notebook session">
                <i id="kernel_indicator_icon"></i> Reset Session
              </button>
            </div>
          </div>
        </div>
        <div id="mainContent" class="container">
          <div id="ipython-main-app">
            <div id="notebook_panel" style="position: relative">
              <div id="notebook"></div>
              <div id='tooltip' class='ipython_tooltip' style='display:none'></div>
            </div>
          </div>
        </div>
      </div>
      <div id="sidebarArea">
        <div id="sidebarToolbar">
          <div class="btn-toolbar pull-left">
            <div class="btn-group">
              <button id="toggleSidebarButton" type="button" class="btn" title="Toggle the size of the sidebar">
                <span class="fa fa-chevron-right fa-flip-horizontal"></span>
              </button>
            </div>
            <div class="btn-group">
              <button id="navigationButton" type="button" class="btn">Navigation</button>
              <button id="helpButton" type="button" class="btn active">Help</button>
            </div>
          </div>
        </div>
        <div id="sidebarContent">
          <div id="navigation" style="display: none"></div>
          <div id="help">
            <p><b>Help for Python APIs</b></p>
            <p>
              You can enter <code>class?</code> or <code>member?</code> within a code cell in the
              notebook to get help on a Python API.
            </p>
            <br />
            <p>
              For example, try <code>str?</code> to get help information on the built-in Python
              method to convert a value to its string representation.
            </p>
            <br />
            <p>
              Additional help topics and links are also available from the menu off the Help
              icon on the top of the page.
            </p>
            <br />
            <p><b>Docs and Samples</b></p>
            <p>
              The <a href="/notebooks/datalab/Readme.ipynb" target"_blank">Cloud Datalab Guide</a> featuring
              documentation and sample notebooks is also a great way to check out how you can use Cloud Datalab.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/components/es6-promise/promise.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/components/requirejs/require.js"></script>
  <script>
    window.mathjax_url = '';
    window.sys_info = {};
    require.config({
      baseUrl: '/static/',
      paths: {
        'auth/js/main': 'auth/js/main.min',
        custom : '/custom',
        nbextensions : '/nbextensions',
        widgets : '/deprecatedwidgets',
        kernelspecs : '/kernelspecs',
        underscore : 'components/underscore/underscore-min',
        backbone : 'components/backbone/backbone-min',
        jquery: 'components/jquery/jquery.min',
        bootstrap: 'components/bootstrap/js/bootstrap.min',
        bootstraptour: 'components/bootstrap-tour/build/js/bootstrap-tour.min',
        jqueryui: 'components/jquery-ui/ui/minified/jquery-ui.min',
        moment: 'components/moment/moment',
        codemirror: 'components/codemirror',
        termjs: 'components/term.js/src/term',
      },
      shim: {
        underscore: {
          exports: '_'
        },
        backbone: {
          deps: ["underscore", "jquery"],
          exports: "Backbone"
        },
        bootstrap: {
          deps: ["jquery"],
          exports: "bootstrap"
        },
        bootstraptour: {
          deps: ["bootstrap"],
          exports: "Tour"
        },
        jqueryui: {
          deps: ["jquery"],
          exports: "$"
        }
      }
    });
    require.config({
       map: {
         '*': {
           'contents': 'services/contents',
         }
       }
     });
     window.datalab = {};
  </script>
  <script src="/static/notebook/js/main.min.js" charset="utf-8"></script>
  <script src="//www.gstatic.com/feedback/api.js" async="true" defer="true"></script>
  <script type="text/fragment" id="cellStatus">
    <div class="status" style="display: none;">
      Running...
      <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
    </div>
  </script>
  <script type="text/fragment" id="shortcutsHelp">
    <p>The notebook has two keyboard modes: Edit mode allows you to type code/text into a cell indicated by a raised cell with a shadow. Command mode allows notebook level actions.</p>
    <br>
    <p><b>Command Mode</b> (<code>Esc</code> to enable)</p>
    <div>
      <div><code>Enter</code>: edit mode</div>
      <div><code>Ctrl/Cmd+S</code>: save notebook</div>
      <div><code>Shift+Enter</code>: run cell, select next</div>
      <div><code>Ctrl+Enter</code>: run cell</div>
      <div><code>y</code>: to code</div>
      <div><code>m</code>: to markdown</div>
      <div><code>Up</code>: select previous cell</div>
      <div><code>Down</code>: select next cell</div>
      <div><code>Ctrl+K</code>: move cell up</div>
      <div><code>Ctrl+J</code>: move cell down</div>
      <div><code>a</code>: insert cell above</div>
      <div><code>b</code>: insert cell below</div>
      <div><code>x</code>: cut cell</div>
      <div><code>c</code>: copy cell</div>
      <div><code>v</code>: paste below</div>
      <div><code>dd</code>: delete cell</div>
      <div><code>z</code>: undo delete cell</div>
    </div>
    <br>
    <p><b>Edit Mode</b> (<code>Enter</code> to enable)</p>
    <div>
      <div><code>Esc</code>: command mode</div>
      <div><code>Ctrl/Cmd+S</code>: save notebook</div>
      <div><code>Shift+Enter</code>: run cell, select next</div>
      <div><code>Tab</code>: code completion or indent</div>
      <div><code>Shift+Tab</code>: quick help</div>
      <div><code>Ctrl/Cmd+]</code>: indent</div>
      <div><code>Ctrl/Cmd+[</code>: dedent</div>
      <div><code>Ctrl/Cmd+a</code>: select all</div>
      <div><code>Ctrl/Cmd+z</code>: undo</div>
      <div><code>Ctrl/Cmd+Shift+z</code>: redo</div>
      <div><code>Ctrl/Cmd+x</code>: cut selected</div>
      <div><code>Ctrl/Cmd+c</code>: copy selected</div>
      <div><code>Ctrl/Cmd+v</code>: paste</div>
    </div>
  </script>
  <script type="text/fragment" id="markdownHelp">
  <b>Markdown Syntax</b><br /><br />
      <b>Headers</b>
<pre># This is a level 1 header.
## This is a level 2 header.
### This is a level 3 header.</pre>
      <b>Emphasis</b>
<pre>*Italic text*
_Also italic_

**Bold text</pre>
      <b>Unordered Lists</b>
<pre>* Item 1
* Item 2
  * Item 2a</pre>
      <b>Ordered Lists</b>
<pre>1. Item 1
2. Item 2
   * Item 2a</pre>
      <b>Links</b>
<pre>http://cloud.google.com - automatic
[Text](url)</pre>
      <b>Images</b>
      <pre>![Alt Text](url)</pre>
      <b>Quoted Text</b>
<pre>&gt; Quoted Line 1
&gt; Quoted Line 2</pre>
      <b>Inline Code</b>
      <pre>Some `code` inline</pre>
      <b>Code Block</b>
<pre>Normal text

    Indented code text</pre>
    </div>
  </script>
</body>
</html>
