<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Google Cloud DataLab</title>
  <link rel="shortcut icon" type="image/x-icon" href="<%baseUrl%>static/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="<%baseUrl%>static/components/codemirror/lib/codemirror.css" />
  <link rel="stylesheet" href="<%baseUrl%>static/style/style.min.css" type="text/css" />
  <link rel="stylesheet" href="<%baseUrl%>static/fonts/fonts.css" type="text/css" />
  <link rel="stylesheet" href="<%baseUrl%>static/style/datalab.css" type="text/css" />
  <link rel="stylesheet" id="themeStylesheet" href="<%baseUrl%>static/style/custom.css" type="text/css" />

  <script src="<%baseUrl%>static/components/jquery/jquery.min.js"></script>
</head>
<body class="session_list"
  data-base-url="<%baseUrl%>"
  data-notebook-path="/"
  data-terminals-available="True"
  data-feedback-id="<%feedbackId%>"
  data-version-id="<%versionId%>"
  data-signed-in="<%isSignedIn%>"
  data-user-id="<%userId%>"
  data-account="<%account%>">

  <div id="app">
    <div id="appBar">
    </div>
    <div id="site">
    <div id="appContent">
      <div id="mainArea">
        <div id="mainContent" class="container treeMainContent">
          <div id="ipython-main-app">
            <div id="tab_content" class="tabbable">
              <div class="tab-content">
                <div id="running">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a data-toggle="collapse" data-target="#collapseOne" href="#"
                           aria-expanded="true" class="">Active Notebooks </a>
                      </div>
                      <div id="collapseOne" class="collapse in" aria-expanded="true">
                        <div class="panel-body">
                          <div id="running_list" class="list_container">
                            <div id="running_list_placeholder" class="row list_placeholder">
                              <div>There are no notebooks running.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a data-toggle="collapse" data-target="#collapseTwo" href="#"
                           aria-expanded="true" class="">Active Terminals </a>
                      </div>
                      <div id="collapseTwo" class="collapse in" aria-expanded="true">
                        <div class="panel-body">
                          <div id="terminal_list" class="list_container">
                            <div id="terminal_list_header" class="row list_placeholder">
                              <div>There are no terminals running.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <script src="<%baseUrl%>static/components/es6-promise/promise.min.js"></script>
  <script src="<%baseUrl%>static/components/requirejs/require.js"></script>
  <script>
    require.config({
      baseUrl: '<%baseUrl%>static/',
      paths: {
        'auth/js/main': 'auth/js/main.min',
        custom : '<%baseUrl%>custom',
        nbextensions : '<%baseUrl%>nbextensions',
        widgets : '<%baseUrl%>deprecatedwidgets',
        kernelspecs : '<%baseUrl%>kernelspecs',
        underscore : 'components/underscore/underscore-min',
        backbone : 'components/backbone/backbone-min',
        jquery: 'components/jquery/jquery.min',
        bootstrap: 'components/bootstrap/js/bootstrap.min',
        bootstraptour: 'components/bootstrap-tour/build/js/bootstrap-tour.min',
        jqueryui: 'components/jquery-ui/ui/minified/jquery-ui.min',
        moment: 'components/moment/moment',
        codemirror: 'components/codemirror',
        termjs: 'components/term.js/src/term',
      },
      shim: {
        underscore: {
          exports: '_'
        },
        backbone: {
          deps: ["underscore", "jquery"],
          exports: "Backbone"
        },
        bootstrap: {
          deps: ["jquery"],
          exports: "bootstrap"
        },
        bootstraptour: {
          deps: ["bootstrap"],
          exports: "Tour"
        },
        jqueryui: {
          deps: ["jquery"],
          exports: "$"
        }
      }
    });
    require.config({
       map: {
         '*': {
           'contents': 'services/contents',
         }
       }
    });
    window.datalab = {};

    $("#appBar").load("<%baseUrl%>static/appbar.html", function() {
      require(['tree/js/main.min']);
    });
  </script>
  <script src="//www.gstatic.com/feedback/api.js" async="true" defer="true"></script>
</body>
</html>
