/*

FIXME: probably call this google-quantum-light
https://spec.googleplex.com/quantumpalette

TODO: document the palette a bit better, only some colors represented in this list
google red DB4437
google blue 4285F4
google green 0F9D58
light green 0F9D58
google (golden) yellow 0F9D58
light gray E0E0E0
lighter gray F5F5F5

Text color: 616161;
*/
.cm-s-googley.CodeMirror { color: #999; background-color: #F5F5F5; }
.cm-s-googley .CodeMirror-selected { background: #cfc !important; }

.cm-s-googley .CodeMirror-gutters { background: #f8f8f8; border-left: 6px solid rgba(0,83,159,0.65); color: #333; }
.cm-s-googley .CodeMirror-linenumber { color: #aaa; margin-left: 3px; }
div.cm-s-googley .CodeMirror-cursor { border-left: 2px solid #222; }

.cm-s-googley .cm-keyword {  color: #4285F4; font-weight: bold; }
.cm-s-googley .cm-atom { color: #F90; }
.cm-s-googley .cm-number { color:  #DB4437; }
.cm-s-googley .cm-def { color: #8DA6CE; }
.cm-s-googley span.cm-variable-2, .cm-s-googley span.cm-tag { color: #CDDC39; }
.cm-s-googley span.cm-variable-3, .cm-s-googley span.cm-def { color: #03A9F4; }

.cm-s-googley .cm-variable { color: #616161; }
.cm-s-googley .cm-property { color: #F4B400; }
.cm-s-googley .cm-qualifier { color: #CDDC39; }

.cm-s-googley .cm-operator { color: #FF5722; }
.cm-s-googley .cm-comment { color:#9E9E9E; font-weight:normal; }
.cm-s-googley .cm-string { color:#0F9D58; font-style:italic; }
.cm-s-googley .cm-string-2 { color:#0F9D58; }
.cm-s-googley .cm-meta { color: #000; }
.cm-s-googley .cm-builtin { color: #E91E63; }
.cm-s-googley .cm-tag { color: #A1887F; }
.cm-s-googley .cm-attribute { color: #FFCD40; }
.cm-s-googley .cm-header { color: #FF6400; }
.cm-s-googley .cm-hr { color: #AEAEAE; }
.cm-s-googley .cm-link {   color:#ad9361; font-style:italic; text-decoration:none; }
.cm-s-googley .cm-error { border-bottom: 1px solid red; }

div.cm-s-googley .CodeMirror-activeline-background {background: #efefff;}
div.cm-s-googley span.CodeMirror-matchingbracket {color: #00E676; text-decoration: underline; font-weight: bold;}
