/**
 * Quantum-based palette for CodeMirror syntax highlighting.
 */
.cm-s-quantum-light.CodeMirror { color: #999; background-color: #F9F9F9; }
.cm-s-quantum-light .CodeMirror-selected { background: #cfc !important; }

.cm-s-quantum-light .CodeMirror-gutters { background: #f8f8f8; border-left: 6px solid rgba(0,83,159,0.65); color: #333; }
.cm-s-quantum-light .CodeMirror-linenumber { color: #aaa; margin-left: 3px; }
div.cm-s-quantum-light .CodeMirror-cursor { border-left: 2px solid #222; }

.cm-s-quantum-light .cm-keyword {  color: #4285F4; font-weight: bold; }
.cm-s-quantum-light .cm-atom { color: #F90; }
.cm-s-quantum-light .cm-number { color:  #DB4437; }
.cm-s-quantum-light .cm-def { color: #8DA6CE; }
.cm-s-quantum-light span.cm-variable-2, .cm-s-quantum-light span.cm-tag { color: #616161; }
.cm-s-quantum-light span.cm-variable-3, .cm-s-quantum-light span.cm-def { color: #616161; }

.cm-s-quantum-light .cm-variable { color: #616161; }
.cm-s-quantum-light .cm-property { color: #F4B400; }
.cm-s-quantum-light .cm-qualifier { color: #CDDC39; }

.cm-s-quantum-light .cm-operator { color: #FF5722; }
.cm-s-quantum-light .cm-comment { color:#9E9E9E; font-weight:normal; }
.cm-s-quantum-light .cm-string { color:#0F9D58; font-style:italic; }
.cm-s-quantum-light .cm-string-2 { color:#0F9D58; }
.cm-s-quantum-light .cm-meta { color: #000; }
.cm-s-quantum-light .cm-builtin { color: #E91E63; }
.cm-s-quantum-light .cm-tag { color: #A1887F; }
.cm-s-quantum-light .cm-attribute { color: #FFCD40; }
.cm-s-quantum-light .cm-header { color: #4285F4; }
.cm-s-quantum-light .cm-hr { color: #AEAEAE; }
.cm-s-quantum-light .cm-link {   color:#ad9361; font-style:italic; text-decoration:none; }
.cm-s-quantum-light .cm-error { border-bottom: 1px solid red; }

div.cm-s-quantum-light .CodeMirror-activeline-background {background: #efefff;}
div.cm-s-quantum-light span.CodeMirror-matchingbracket {color: #00E676; text-decoration: underline; font-weight: bold;}
