.datalab-file-navigator-header, .datalab-session-navigator-header {
  padding-top: 25px;
}

.datalab-navigator-header {
  display: inline;
}

.datalab-navigator-header > .sort-up:after {
  content: ' \25b2';
}

.datalab-navigator-header > .sort-down:after {
  content: ' \25bc';
}

.datalab-navigator-trash:hover {
  color: #f00;
}

.datalab-filenav-breadcrumbs {
  display:inline;
  float:left";
}

.datalab-file-navigator-header, .datalab-session-navigator-header {
  font-family: 'open sans', arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.datalab-sidebar-tab {
  width: 100px;
  height: 100px;

  /*list-style-type: none;*/
  display: block;
  float: right;
  padding-right: 0px;
  margin-right: 0px;
}

.datalab-sidebar-tab:hover,
.datalab-sidebar-tab:link,
.datalab-sidebar-tab:visited,
.datalab-sidebar-tab:active {
  text-decoration: none;
}


.datalab-layout-sidenav-sidebar .active .fa {
  color: #2196f3;
}

.datalab-layout-sidenav-sidebar {
  /* Put sidebar tabs flush with workspace */
  padding-right: 0px;
  border-right: 0px;
}

.datalab-sidebar-tab:hover {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

.datalab-layout-sidenav-sidebar .active {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.datalab-layout-sidenav-sidebar .inactive {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.datalab-sidebar-tab > span {
  font-family: 'open sans', arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #000;
  display:block;
}

.datalab-sidebar-tab > i {
  margin-left:25%;
  margin-top:25%;
  width: 50%;
  height:50%;
  align: middle;
  color: #333;
}

.datalab-filenav-breadcrumbs div {
  display: inline;
}

.datalab-filenav-breadcrumbs a {
  display: inline;
}

/* Breadcrumbs in file navigator. */
.datalab-breadcrumb-link, .datalab-breadcrumb-link:hover {
  color: #333;
}

.datalab-breadcrumb-link:hover {
  text-decoration: underline;
}

/* Toolbar icon at top right plus its dropdown menu */
.datalab-toolbar {
  display: inline;
  float:right;
  position: relative;
}

.datalab-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
}

.dropdown-menu {
  display:block;
  position:static;
  margin-bottom:5px;
}

.datalab-dropdown .active {
  display: block;
}

.datalab-dropdown .inactive {
  display:none;
}

.datalab-dropdown-item {
  margin-left: 10px;
  margin-right: 10px;
}

.datalab-dropdown-item:hover {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

/* Session and file/directory paths in the lists. */
.datalab-path-link, .datalab-path-link:hover {
  color: #333;
  display: inline;
  font-family: 'open sans', arial, sans-serif;
}

.datalab-path-link:hover {
  text-decoration: underline;
}

.datalab-path-link .fa {
  color: #2196f3;
}

.datalab-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.datalab-model > div {
  position: relative;
}
