<link rel="import" href="../../components/shared-styles/shared-styles.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="details-pane">
  <template>
    <style include="datalab-shared-styles">
      #container {
        padding: 0px 20px;
        height: 100%;
        overflow-y: auto;
      }
      #details-pane-title {
        display: flex;
      }
      .content {
        padding: 15px 3px;
        margin: 0px;
      }
      .icon {
        height: 30px;
        width: 30px;
      }
      #previewHtml {
        background-color: #ddd;
        padding: 0px 10px;
        margin: 10px 0px;
        border-radius: 5px;
        overflow-y: auto;
        overflow-x: hidden;
      }
    </style>
    <div id="container" hidden$="{{!file.name}}">
      <div id="details-pane-title">
        <iron-icon class="content icon" icon="{{_icon}}"></iron-icon>
        <h1 class="content">{{file.name}}</h1>
      </div>
      <hr/>
      <div class="content">
        <table>
          <tr>
            <td>
              <strong>Created:</strong>
            </td>
            <td>
              {{_created}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>Modified:</strong>
            </td>
            <td>
              {{_modified}}
            </td>
          </tr>
        </table>
        <div id="previewHtml"></div>
      </div>
    </div>
  </template>
</dom-module>

<script src="showdown.min.js"></script>
<script src="details-pane.js"></script>
