<div class="datalab-notebook-toolbar">
    <!-- New code cell -->
    <div class="datalab-flat-button"
         ng-click="notebook.addCell('code', notebook.activeWorksheet.id, notebook.activeCell.id)">
        <img src="assets/iconAdd.svg" alt="Add a cell" width="16px" height="16px"/>
        <div class="datalab-flat-button-text">Cell</div>
    </div>

    <!-- New markdown cell -->
    <div class="datalab-flat-button"
         ng-click="notebook.addCell('markdown', notebook.activeWorksheet.id, notebook.activeCell.id)">
        <img src="assets/iconAdd.svg" alt="Add a markdown" width="16px" height="16px"/>
        <div class="datalab-flat-button-text">Markdown</div>
    </div>

    <!-- New heading cell -->
    <div class="datalab-flat-button"
         ng-click="notebook.addCell('heading', notebook.activeWorksheet.id, notebook.activeCell.id)">
        <img src="assets/iconAdd.svg" alt="Add a heading" width="16px" height="16px"/>
        <div class="datalab-flat-button-text">Heading</div>
    </div>

    <span class="datalab-toolbar-divider">&nbsp;</span>

    <!-- Execute all cells -->
    <div class="datalab-flat-button"
         ng-click="notebook.executeCells()">
        <img src="assets/iconRun.svg" alt="Run all" width="16px" height="16px"/>
        <div class="datalab-flat-button-text">Run</div>
    </div>

    <!-- Clear all cell outputs -->
    <div class="datalab-flat-button"
         ng-click="notebook.clearOutputs()">
        <img src="assets/iconClearOutput.svg" alt="Clear output" width="16px" height="16px"/>
        <div class="datalab-flat-button-text">CLEAR</div>
    </div>

    <!-- Reset the session (kernel) state -->
    <div class="datalab-flat-button"
         ng-click="session.reset(notebook.notebookPath)">
        <img src="assets/iconRestart.svg" alt="Reset kernel" width="16px" height="16px"/>
        <div class="datalab-flat-button-text">RESET</div>
    </div>
</div>
