<html>
  <head>
    <script src="/bower_components/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css">
    <script src="/bower_components/codemirror/mode/python/python.js"></script>
  </head>
  <body>
    <div id="container" style="width:90%; height:90%"></div>
    <script>
      var mycodemirror = CodeMirror(document.querySelector('#container'),
        { value: 'some code', mode: 'python', lineNumbers: true });
    </script>
  </body>
</html>